html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bg-color: #fff;
    --border-color: hsl(0, 0%, 83%);
  }
  
  body {
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    padding: 30px 20px;
    margin-bottom: 40px;
  }
  
  .logo {
    margin-bottom: 30px;
    width: 150px;
  }
  
  .search-input {
    width: 600px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid var(--border-color);
    font-size: 18px;
  }
  
  .search-input:focus,
  .search-input:active {
    border-color: #36c;
    outline: none;
  }
  
  .search-results {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .result-item {
    margin-bottom: 20px;
  }
  
  .result-title {
    font-size: 22px;
  }
  
  .result-snippet {
    font-size: 15px;
    color: #444;
  }
  
  .result-link {
    color: #006621;
    text-decoration: none;
    display: block;
    overflow-wrap: break-word;
  }
  
  .loading-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase.hidden {
    display: none;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2.0s infinite ease-in-out both;
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #333;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
  }
  
  .sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
  }
  
  .sk-chase-dot:nth-child(2) {
    animation-delay: -1.0s;
  }
  
  .sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
  }
  
  .sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
  }
  
  .sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
  }
  
  .sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
  }
  
  .sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
  }
  
  .sk-chase-dot:nth-child(2):before {
    animation-delay: -1.0s;
  }
  
  .sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
  }
  
  .sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
  }
  
  .sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
  }
  
  .sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
  }
  
  @keyframes sk-chase {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes sk-chase-dot {
  
    80%,
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4);
    }
  
    100%,
    0% {
      transform: scale(1.0);
    }
  }
  
  @media screen and (max-width: 550px) {
    .search-form {
      width: 100%;
    }
  
    .search-input {
      width: 100%;
      margin: 0 auto;
    }
  
    .search-results {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  

  .spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }